<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<!--/* pieces for the dispatcher: a bare script fragment and an adapter taking a descriptor */-->
<th:block th:fragment="hello"><b class="hello">HELLO</b></th:block>
<!--/* adapter with slots: the consumer fills them, the dispatcher renders them */-->
<th:block th:fragment="slotted(e)"><div class="slotted" th:text="${e['title']}"></div>
<div class="body"><th:block th:replace="~{fragments/thymekit/element :: slot(${e}, 'body')}"/></div>
<div class="tail"><th:block th:replace="~{fragments/thymekit/element :: slot(${e}, 'tail')}"/></div></th:block>
<th:block th:fragment="echo(e)"><i class="echo" th:text="${e['text']}"></i></th:block>
<th:block th:fragment="inline(e)"><span>a</span>
<span>b</span></th:block>

<!--/* samples for TidyDialect: preserved zones, standalone tag, comment, inline space */-->
<th:block th:fragment="tidy(e)">
    <div class="a">
        <pre>  two  spaces
    and indent</pre>
        <textarea>  raw
  text</textarea>
        <script>var a = 1;
var b = 2;</script>
        <style>.x { color: red;
}</style>
    </div>
    <div class="c">
        <pre><code>x</code>
   
</pre>
        <div><span>nested</span></div>
        <th:block th:text="'text node'"/>
    </div>
    <div class="d">
        <a class="multi"
           href="/x"
           title="multiline tag">link</a>
        <input type="checkbox"
               checked>
        <span class='single'
              data-x='single'>quotes</span>
        <b class='one-line' data-y='intact'>one-line</b>
        <i  class="messy"   data-z="1" >messy one-line</i>
        <img src="/x.png"
             alt="image"
             width="10"/>
    </div>
    <div class="b">
        <br/>
        <!-- plain comment -->
        <span>a</span> <span>b</span>
    </div>
</th:block>

</body>
</html>
